{% extends 'base_template.html' %}

{% block title %}
  Choose Customers
{% endblock title %}

{% block body_head %}


  <h3 class='divBg text-light bg-danger'>Choose Customer To Supply </h3>
  <br>
  <div class='container table-responsive'>
    <table class='table'>

  {% if choose_customer %}
      {% for customer in choose_customer %}
      <tr>
          <td>
          <a href="{% url 'supply_app:supply_create' customer.id %}#mainDiv"  
              class="btn btn-dark btn-block btn-outline-white">
              <b>
                {{ customer.first_name }} 
                {{ customer.last_name }}
              </b>
              <br>
              <i> {{ customer.location }} </i> 
              <b>>>></b>
            </a>
          </td>
        </tr>
      {% endfor %}

  {% else %}
    <div class='container text-center'>
      <br><br><br>
        <h1 class='text-danger'>No Customer Found!</h1>
      <br><br><br>
     </div>
  {% endif %}

    <!--
          <tr>
            <td colspan='4'>
              <a href="{ url 'customer_create' %}"
                 class='btn btn-primary text-light'>
                Add Customer
              </a>
            </td>
          </tr> -->
    </table>
  </div> 

{% endblock body_head %}



