{% extends 'base_template.html' %}

{% block title %}
  Entries Lists
{% endblock title %}


{% block additional %}

  <div class='divBg text-warning bg-dark'>
    <h2>Supply Records of </h2>
    <small class='text-white'>
      {{ customer.first_name }} 
      {{ customer.last_name }} 
    </small>
  </div>
  <br>

  <div class='container table-responsive'>
    <table class='table table-striped'>

      {% if customer_supply_entry %}

        {% for entries in customer_supply_entry reversed %}
          <tr>
            <th>
              <!--<a href="{ url 'supply_app:customer_bill' pk=entries.entry_date.id customer_id=customer.id %}" -->
              <a href="{% url 'supply_app:customer_bill' pk=entries.id customer_id=customer.id %}" 
                 class='text-primary'>
                {{ entries.entry_date }}
              </a>
            </th>
            <td>{{ entries.entry_date|date:'D' }}</td>
          </tr>
        {% endfor %}

      {% else %}
        <div class='container text-center'>
          <br><br><br>
            <h1 class='text-danger'>Customer have no supply records!</h1>
          <br><br><br>
        </div>
      {% endif %}
          <tr class='bg-white'>

           <td colspan="2">
              <a href="{% url 'customer_list' %}#mainDiv"
                 class='btn btn-info text-light'>Back To List
              </a>

              <a href="{% url 'supply_app:supply_create' customer.id %}#mainDiv"
                 class='btn btn-danger text-light'>Supply To Him
              </a>
            </td>
          </tr>
    </table>
  </div> 

{% endblock additional %}

