{% extends 'base_template.html' %}

{% block title %}
  Stock Lists
{% endblock title %}


{% block body_head %}

  <h2 class='divBg text-warning bg-dark'>
    Arrival Stock of <i>Today</i>
  </h2>
  <br>
  <div class='table-responsive'>
    <table class='table table-dark table-striped'>

      <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
        
        <tr><td colspan='2'></td></tr>
        <tr>
          <td colspan='2'>
            <button class="btn btn-success btn-block" type="submit">
              <b>Add Stock</b>
            </button>
          </td>
        </tr>

      </form>

          </table>
  </div> 

{% endblock body_head %}


